/* PLAYLIST */

.playlist-container {
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: #121212;
}

.playlist {
    margin: 24px;
}

/* Seletor corrigido para a classe greeting */
.playlist .greeting {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist .session {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
